# 데이터, 패키지 로드

In [55]:
# 패키지 로드 
import pandas as pd 
import numpy as np
import datetime

In [56]:
# 데이터 로드 
df_stock= pd.read_csv("../../data/Stock/stock+tech_hybe.csv")
df_trend= pd.read_csv("../../data/Trend/trend_hybe.csv")
df_sentiment= pd.read_excel("../../data/News/sentiment_hybe.xlsx")
df_event= pd.read_excel("../../data/News/event_hybe.xlsx")

In [57]:
df_stock.info() # 주가+기술지표 데이터

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    123 non-null    object
 1   Open    123 non-null    int64
 2   High    123 non-null    int64
 3   Low     123 non-null    int64
 4   Close   123 non-null    int64
 5   Volume  123 non-null    int64
 6   Change  123 non-null    float64
 7   MACD    123 non-null    float64
 8   Signal  123 non-null    float64
 9   PSAR    123 non-null    float64
 10  upper   123 non-null    float64
 11  middle  123 non-null    float64
 12  lower   123 non-null    float64
 13  SlowK   123 non-null    float64
 14  SlowD   123 non-null    float64
 15  ROC     123 non-null    float64
 16  OBV     123 non-null    float64
 17  FI      123 non-null    float64
dtypes: float64(12), int64(5), object(1)
memory usage: 17.4+ KB

In [58]:
df_trend.info() # 트렌드(유튜브, 네이버) 데이터

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               181 non-null    object
 1   keyword            181 non-null    float64
 2   view_log_like_sum  181 non-null    float64
 3   view_log_like_avg  181 non-null    float64
 4   count              181 non-null    float64
 5   trend              181 non-null    float64
dtypes: float64(5), object(1)
memory usage: 8.6+ KB

In [59]:
df_sentiment.info() # 감정지수(뉴스) 변수 데이터

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           126 non-null    datetime64[ns]
 1   SENTIMENT_SUM  126 non-null    float64
 2   DAY            126 non-null    object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 3.1+ KB

In [60]:
df_event.info() # 이벤트 변수 데이터

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           55 non-null     datetime64[ns]
 1   SENTIMENT_SUM  55 non-null     float64
 2   DAY            55 non-null     object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.4+ KB

# DATE 변수타입 통일

In [61]:
# df_stock의 'Date' 열을 datetime 형식으로 변환
df_stock['Date'] = pd.to_datetime(df_stock['Date'])

# df_trend의 'date' 열을 datetime 형식으로 변환
df_trend['date'] = pd.to_datetime(df_trend['date'])

In [62]:
df_stock

,Date,Open,High,Low,Close,Volume,Change,MACD,Signal,PSAR,upper,middle,lower,SlowK,SlowD,ROC,OBV,FI
0,2023-01-02,174500,176000,166500,169500,183432,-0.023055,8471.944717,8743.872989,178985.200000,181776.516544,162200.0,142623.483456,70.130624,73.429752,3.987730,2022238.0,-7.337280e+08
1,2023-01-03,170000,182000,170000,176500,522683,0.041298,8550.253289,8705.149049,166500.000000,183358.075528,163425.0,143491.924472,73.552375,72.832501,12.063492,2544921.0,3.658781e+09
2,2023-01-04,176500,177000,169000,171500,251334,-0.028329,8115.306976,8587.180634,166500.000000,183065.294155,164750.0,146434.705845,69.030579,70.904526,4.573171,2293587.0,-1.256670e+09
3,2023-01-05,172000,177000,171000,172000,173260,0.002915,7721.940982,8414.132704,166810.000000,182244.968256,166100.0,149955.031744,70.114943,70.899299,2.994012,2466847.0,8.663000e+07
4,2023-01-06,170000,172000,160500,168000,509214,-0.023256,7006.660605,8132.638284,182000.000000,180174.782397,167250.0,154325.217603,54.731355,64.625626,3.384615,1957633.0,-2.036856e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2023-06-26,299000,303500,296000,298000,125709,-0.009967,8956.755842,8427.366351,282326.701011,313972.582010,286575.0,259177.417990,78.179285,80.274272,11.194030,6578958.0,-3.771270e+08
119,2023-06-27,298500,298500,285500,292000,289388,-0.020134,8038.431782,8349.579437,284740.564931,314070.596224,287675.0,261279.403776,67.534816,75.245164,4.099822,6289570.0,-1.736328e+09
120,2023-06-28,294500,294500,284000,285000,166864,-0.023973,6668.936501,8013.450850,312500.000000,314011.048366,288125.0,262238.951634,54.365800,66.693300,-3.061224,6122706.0,-1.168048e+09
121,2023-06-29,284000,291000,278000,279500,187764,-0.019298,5081.224397,7427.005559,311930.000000,313792.124763,288400.0,263007.875237,32.657180,51.519265,-4.931973,5934942.0,-1.032702e+09
122,2023-06-30,280500,284500,276000,281500,206049,0.007156,3938.928881,6729.390224,310572.800000,313706.971143,288600.0,263493.028857,18.732643,35.251874,-3.595890,6140991.0,4.120980e+08

# DATE 변수명 통일

In [63]:
# df_stock의'Date' 열의 이름을 'DATE'로 변경
df_stock = df_stock.rename(columns={'Date': 'DATE'})

# df_trend의'date' 열의 이름을 'DATE'로 변경
df_trend = df_trend.rename(columns={'date': 'DATE'})

# df_trend 데이터의 DATE 수정

### 일자별 요일 지정
향후 분석에 용이하도록 DATE_NEW 일자를 기준으로 일자별 요일을 지정해줌.
- 2023년 1월은 일요일부터 시작함

In [64]:
weekday_dict = {0:'월', 1:'화', 2:'수', 3:'목', 4:'금', 5:'토', 6:'일'}

In [65]:
day_list = []

for i in range(len(df_trend)):
    day_list.append(weekday_dict[df_trend["DATE"][i].weekday()])

df_trend["DAY"] = day_list
df_trend.groupby("DAY").size()

DAY
금    26
목    26
수    26
월    26
일    26
토    25
화    26
dtype: int64

In [66]:
#요일 배정이 잘 되었는지 확인
for day in weekday_dict.values():
    print(day, df_trend[df_trend["DAY"] == day]["DATE"].unique())

월 ['2023-01-02T00:00:00.000000000' '2023-01-09T00:00:00.000000000'
 '2023-01-16T00:00:00.000000000' '2023-01-23T00:00:00.000000000'
 '2023-01-30T00:00:00.000000000' '2023-02-06T00:00:00.000000000'
 '2023-02-13T00:00:00.000000000' '2023-02-20T00:00:00.000000000'
 '2023-02-27T00:00:00.000000000' '2023-03-06T00:00:00.000000000'
 '2023-03-13T00:00:00.000000000' '2023-03-20T00:00:00.000000000'
 '2023-03-27T00:00:00.000000000' '2023-04-03T00:00:00.000000000'
 '2023-04-10T00:00:00.000000000' '2023-04-17T00:00:00.000000000'
 '2023-04-24T00:00:00.000000000' '2023-05-01T00:00:00.000000000'
 '2023-05-08T00:00:00.000000000' '2023-05-15T00:00:00.000000000'
 '2023-05-22T00:00:00.000000000' '2023-05-29T00:00:00.000000000'
 '2023-06-05T00:00:00.000000000' '2023-06-12T00:00:00.000000000'
 '2023-06-19T00:00:00.000000000' '2023-06-26T00:00:00.000000000']
화 ['2023-01-03T00:00:00.000000000' '2023-01-10T00:00:00.000000000'
 '2023-01-17T00:00:00.000000000' '2023-01-24T00:00:00.000000000'
 '2023-01-31T00:00:00.000000000' '2023-02-07T00:00:00.000000000'
 '2023-02-14T00:00:00.000000000' '2023-02-21T00:00:00.000000000'
 '2023-02-28T00:00:00.000000000' '2023-03-07T00:00:00.000000000'
 '2023-03-14T00:00:00.000000000' '2023-03-21T00:00:00.000000000'
 '2023-03-28T00:00:00.000000000' '2023-04-04T00:00:00.000000000'
 '2023-04-11T00:00:00.000000000' '2023-04-18T00:00:00.000000000'
 '2023-04-25T00:00:00.000000000' '2023-05-02T00:00:00.000000000'
 '2023-05-09T00:00:00.000000000' '2023-05-16T00:00:00.000000000'
 '2023-05-23T00:00:00.000000000' '2023-05-30T00:00:00.000000000'
 '2023-06-06T00:00:00.000000000' '2023-06-13T00:00:00.000000000'
 '2023-06-20T00:00:00.000000000' '2023-06-27T00:00:00.000000000']
수 ['2023-01-04T00:00:00.000000000' '2023-01-11T00:00:00.000000000'
 '2023-01-18T00:00:00.000000000' '2023-01-25T00:00:00.000000000'
 '2023-02-01T00:00:00.000000000' '2023-02-08T00:00:00.000000000'
 '2023-02-15T00:00:00.000000000' '2023-02-22T00:00:00.000000000'
 '2023-03-01T00:00:00.000000000' '2023-03-08T00:00:00.000000000'
 '2023-03-15T00:00:00.000000000' '2023-03-22T00:00:00.000000000'
 '2023-03-29T00:00:00.000000000' '2023-04-05T00:00:00.000000000'
 '2023-04-12T00:00:00.000000000' '2023-04-19T00:00:00.000000000'
 '2023-04-26T00:00:00.000000000' '2023-05-03T00:00:00.000000000'
 '2023-05-10T00:00:00.000000000' '2023-05-17T00:00:00.000000000'
 '2023-05-24T00:00:00.000000000' '2023-05-31T00:00:00.000000000'
 '2023-06-07T00:00:00.000000000' '2023-06-14T00:00:00.000000000'
 '2023-06-21T00:00:00.000000000' '2023-06-28T00:00:00.000000000']
목 ['2023-01-05T00:00:00.000000000' '2023-01-12T00:00:00.000000000'
 '2023-01-19T00:00:00.000000000' '2023-01-26T00:00:00.000000000'
 '2023-02-02T00:00:00.000000000' '2023-02-09T00:00:00.000000000'
 '2023-02-16T00:00:00.000000000' '2023-02-23T00:00:00.000000000'
 '2023-03-02T00:00:00.000000000' '2023-03-09T00:00:00.000000000'
 '2023-03-16T00:00:00.000000000' '2023-03-23T00:00:00.000000000'
 '2023-03-30T00:00:00.000000000' '2023-04-06T00:00:00.000000000'
 '2023-04-13T00:00:00.000000000' '2023-04-20T00:00:00.000000000'
 '2023-04-27T00:00:00.000000000' '2023-05-04T00:00:00.000000000'
 '2023-05-11T00:00:00.000000000' '2023-05-18T00:00:00.000000000'
 '2023-05-25T00:00:00.000000000' '2023-06-01T00:00:00.000000000'
 '2023-06-08T00:00:00.000000000' '2023-06-15T00:00:00.000000000'
 '2023-06-22T00:00:00.000000000' '2023-06-29T00:00:00.000000000']
금 ['2023-01-06T00:00:00.000000000' '2023-01-13T00:00:00.000000000'
 '2023-01-20T00:00:00.000000000' '2023-01-27T00:00:00.000000000'
 '2023-02-03T00:00:00.000000000' '2023-02-10T00:00:00.000000000'
 '2023-02-17T00:00:00.000000000' '2023-02-24T00:00:00.000000000'
 '2023-03-03T00:00:00.000000000' '2023-03-10T00:00:00.000000000'
 '2023-03-17T00:00:00.000000000' '2023-03-24T00:00:00.000000000'
 '2023-03-31T00:00:00.000000000' '2023-04-07T00:00:00.000000000'
 '2023-04-14T00:00:00.000000000' '2023-04-21T00:00:00.000000000'
 '2023-04-28T00:00:00.000000000' '2023-05-05T00:00:00.000000000'
 '2023-05-12T00:00:00.000000000' '2023-05-19T00:00:00.000000000'
 '2023-05-26T00:00:00.000000000' '2023-06-02T00:00:00.000000000'
 '2023-06-09T00:00:00.000000000' '2023-06-16T00:00:00.000000000'
 '2023-06-23T00:00:00.000000000' '2023-06-30T00:00:00.000000000']
토 ['2023-01-07T00:00:00.000000000' '2023-01-14T00:00:00.000000000'
 '2023-01-21T00:00:00.000000000' '2023-01-28T00:00:00.000000000'
 '2023-02-04T00:00:00.000000000' '2023-02-11T00:00:00.000000000'
 '2023-02-18T00:00:00.000000000' '2023-02-25T00:00:00.000000000'
 '2023-03-04T00:00:00.000000000' '2023-03-11T00:00:00.000000000'
 '2023-03-18T00:00:00.000000000' '2023-03-25T00:00:00.000000000'
 '2023-04-01T00:00:00.000000000' '2023-04-08T00:00:00.000000000'
 '2023-04-15T00:00:00.000000000' '2023-04-22T00:00:00.000000000'
 '2023-04-29T00:00:00.000000000' '2023-05-06T00:00:00.000000000'
 '2023-05-13T00:00:00.000000000' '2023-05-20T00:00:00.000000000'
 '2023-05-27T00:00:00.000000000' '2023-06-03T00:00:00.000000000'
 '2023-06-10T00:00:00.000000000' '2023-06-17T00:00:00.000000000'
 '2023-06-24T00:00:00.000000000']
일 ['2023-01-01T00:00:00.000000000' '2023-01-08T00:00:00.000000000'
 '2023-01-15T00:00:00.000000000' '2023-01-22T00:00:00.000000000'
 '2023-01-29T00:00:00.000000000' '2023-02-05T00:00:00.000000000'
 '2023-02-12T00:00:00.000000000' '2023-02-19T00:00:00.000000000'
 '2023-02-26T00:00:00.000000000' '2023-03-05T00:00:00.000000000'
 '2023-03-12T00:00:00.000000000' '2023-03-19T00:00:00.000000000'
 '2023-03-26T00:00:00.000000000' '2023-04-02T00:00:00.000000000'
 '2023-04-09T00:00:00.000000000' '2023-04-16T00:00:00.000000000'
 '2023-04-23T00:00:00.000000000' '2023-04-30T00:00:00.000000000'
 '2023-05-07T00:00:00.000000000' '2023-05-14T00:00:00.000000000'
 '2023-05-21T00:00:00.000000000' '2023-05-28T00:00:00.000000000'
 '2023-06-04T00:00:00.000000000' '2023-06-11T00:00:00.000000000'
 '2023-06-18T00:00:00.000000000' '2023-06-25T00:00:00.000000000']

- **설명**
- '요일' 변수는 각 뉴스가 영향을 미치는 요일을 의미한다 
- ex1) 요일이 '금'으로 지정된 데이터 : 금요일 주가에 영향을 미치는 데이터 
- ex2) 요일이 '토'으로 지정된 데이터 : 금요일 주가에 영향을 미치는 데이터

* **토요일, 일요일 데이터 전처리**
- 토요일과 일요일 데이터는 ***월요일*** 주가에 영향을 미친다
- 따라서 요일 변수가 토요일, 일요일로 설정된 데이터들은 그 다음주 월요일 데이터로 간주하여 날짜 및 요일 변수를 변경한다

In [67]:
 for i in range(len(df_trend)):
    if (df_trend['DAY'].iloc[i] == '토'): # 토요일 뉴스기사라면, 
        df_trend['DATE'].iloc[i]+= datetime.timedelta(days=2)  # DATE_NEW(날짜)변수에 이틀을 추가
        df_trend['DAY'].iloc[i] = '월'       #DAY(요일) 변수를 월요일로
    if (df_trend['DAY'].iloc[i] == '일'): # 일요일 뉴스기사라면, 
        df_trend['DATE'].iloc[i]+= datetime.timedelta(days=1)  # DATE_NEW(날짜)변수에 하루를 추가
        df_trend['DAY'].iloc[i] = '월'       #DAY(요일) 변수를 월요일로

/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23334/3245083037.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trend['DATE'].iloc[i]+= datetime.timedelta(days=1)  # DATE_NEW(날짜)변수에 하루를 추가
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23334/3245083037.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trend['DAY'].iloc[i] = '월'       #DAY(요일) 변수를 월요일로
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23334/3245083037.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trend['DATE'].iloc[i]+= datetime.timedelta(days=2)  # DATE_NEW(날짜)변수에 이틀을 추가
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23334/3245083037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trend['DAY'].iloc[i] = '월'       #DAY(요일) 변수를 월요일로

### 월요일 데이터들의 변수 값 평균 구하기

- df_trend에서 DAY 변수의 값이 '월'인 행들은 DATE 변수로 GROUPBY 한 뒤 keyword, view_log_like_sum, view_log_like_avg, count, trend 변수의 평균값을 구할 것

In [68]:
# 'DAY' 변수가 '월'인 행 필터링
df_trend_monday = df_trend[df_trend['DAY'] == '월']
df_trend_notmonday = df_trend[df_trend['DAY'] != '월']

# 'DATE' 변수로 그룹화하여 변수들의 평균값 구하기
df_trend_monday = df_trend_monday.groupby('DATE').agg({
    'keyword': 'first',  # 첫 번째 키워드 선택
    'view_log_like_sum': 'mean',
    'view_log_like_avg': 'mean',
    'count': 'mean',
    'trend': 'mean',
    'DAY': 'first'
}).reset_index()

# 결과 출력
df_trend_monday.head()

,DATE,keyword,view_log_like_sum,view_log_like_avg,count,trend,DAY
0,2023-01-02,50.67710,1.999836e+08,1.954167e+08,2.500000,21.833970,월
1,2023-01-09,62.82026,9.893354e+07,1.990181e+07,3.000000,15.272633,월
2,2023-01-16,53.84533,2.625461e+07,5.278119e+06,3.666667,15.101563,월
3,2023-01-23,74.48734,4.971654e+06,1.361909e+06,2.333333,14.266345,월
4,2023-01-30,55.22943,4.328519e+07,1.377544e+07,6.333333,20.570048,월

In [69]:
# 월요일 데이터, 월요일이 아닌 데이터 다시 합치기 
df_trend = pd.concat([df_trend_monday, df_trend_notmonday], axis=0)

# 행 인덱스 초기화
df_trend = df_trend.reset_index(drop=True)

# 'DATE' 변수로 정렬
df_trend = df_trend.sort_values(by='DATE')

In [70]:
df_trend.nunique()

DATE                 130
keyword              130
view_log_like_sum    123
view_log_like_avg    123
count                 40
trend                130
DAY                    5
dtype: int64

# df_trend, df_sentiment, df_event 의 날짜 변수를 df_stock 에 맞추기

##  df_stock와 df_trend

In [71]:
set_trend_dates = set(df_trend['DATE'])
set_stock_dates = set(df_stock['DATE'])

# 차이를 확인하여 다른 원소를 추출
difference = set_trend_dates.symmetric_difference(set_stock_dates)

# 결과 출력
print("df_trend와 df_stock의 'DATE' 열에서 다른 원소:")
print(difference)

df_trend와 df_stock의 'DATE' 열에서 다른 원소:
{Timestamp('2023-05-01 00:00:00'), Timestamp('2023-01-24 00:00:00'), Timestamp('2023-05-29 00:00:00'), Timestamp('2023-05-05 00:00:00'), Timestamp('2023-01-23 00:00:00'), Timestamp('2023-06-06 00:00:00'), Timestamp('2023-03-01 00:00:00')}

- 1/23 : 설 연휴
- 1/24 : 설 연휴 
- 3/1 : 삼일절
- 5/1 : 노동절
- 5/5 : 어린이날
- 5/29 : 석가탄신일
- 6/6 : 현충일 
- 해당 일자들은 주식 시장이 개장하지 않는 일자임
- 따라서 df_trend 에서 1/23, 1/24, 1/25에 대한 변수들의 값을 더한 뒤 평균을 내주는 식의 방법을 사용함

In [72]:
# 1월 23일, 1월 24일, 1월 25일 데이터 필터링
selected_dates = ['2023-01-23', '2023-01-24', '2023-01-25']
filtered_df = df_trend[df_trend['DATE'].isin(selected_dates)]

# 1월 23일, 1월 24일 데이터 삭제
df_trend = df_trend[df_trend['DATE'] != '2023-01-23']
df_trend = df_trend[df_trend['DATE'] != '2023-01-24']

# 1월 25일 데이터를 평균값으로 대체
average_values = filtered_df.mean(numeric_only = True)
df_trend.loc[df_trend['DATE'] == '2023-01-25', ['keyword', 'view_log_like_sum', 'view_log_like_avg', 'count', 'trend']] = average_values.values

In [73]:
# 작업할 날짜 쌍 정의
date_pairs = [('2023-03-01', '2023-03-02'), ('2023-05-01', '2023-05-02'), ('2023-05-05', '2023-05-08'), ('2023-05-29', '2023-05-30'), ('2023-06-06', '2023-06-07')]

# 날짜 쌍에 대한 반복 작업
for start_date, end_date in date_pairs:
    # 선택한 날짜 데이터 필터링
    selected_dates = [start_date, end_date]
    filtered_df = df_trend[df_trend['DATE'].isin(selected_dates)]

    # 시작 날짜 데이터 삭제
    df_trend = df_trend[df_trend['DATE'] != start_date]

    # 끝 날짜 데이터를 평균값으로 대체
    average_values = filtered_df.mean(numeric_only = True)
    df_trend.loc[df_trend['DATE'] == end_date, ['keyword', 'view_log_like_sum', 'view_log_like_avg', 'count', 'trend']] = average_values[['keyword', 'view_log_like_sum', 'view_log_like_avg', 'count', 'trend']].values

In [74]:
# 차이 없는지 확인

set_trend_dates = set(df_trend['DATE'])
set_stock_dates = set(df_stock['DATE'])

# 차이를 확인하여 다른 원소를 추출
difference = set_trend_dates.symmetric_difference(set_stock_dates)

# 결과 출력
print("df_trend와 df_stock의 'DATE' 열에서 다른 원소:")
print(difference)

df_trend와 df_stock의 'DATE' 열에서 다른 원소:
set()

##  df_stock와 df_sentiment

In [75]:
set_sentiment_dates = set(df_sentiment['DATE'])
set_stock_dates = set(df_stock['DATE'])

# 차이를 확인하여 다른 원소를 추출
difference = set_sentiment_dates.symmetric_difference(set_stock_dates)

# 결과 출력
print("set_sentiment_dates df_stock의 'DATE' 열에서 다른 원소:")
print(difference)

set_sentiment_dates df_stock의 'DATE' 열에서 다른 원소:
{Timestamp('2023-06-28 00:00:00'), Timestamp('2023-05-01 00:00:00'), Timestamp('2023-06-27 00:00:00'), Timestamp('2023-01-24 00:00:00'), Timestamp('2023-06-30 00:00:00'), Timestamp('2023-05-29 00:00:00'), Timestamp('2023-05-05 00:00:00'), Timestamp('2023-01-23 00:00:00'), Timestamp('2023-06-29 00:00:00'), Timestamp('2023-06-06 00:00:00'), Timestamp('2023-03-01 00:00:00')}

- 1/23 : 설 연휴
- 1/24 : 설 연휴 
- 3/1 : 삼일절
- 5/1 : 노동절
- 5/5 : 어린이날
- 5/29 : 석가탄신일
- 6/6 : 현충일 
- 해당 일자들은 주식 시장이 개장하지 않는 일자임
- 따라서 df_trend 에서 1/23, 1/24, 1/25에 대한 변수들의 값을 더한 뒤 평균을 내주는 식의 방법을 사용함 

- 6/27 : 
- 6/28 :  
- 6/29 : 
- 6/30 : 
- 해당 일자들은 df_sentiment 값이 존재하지 않는(영상 등이 올라오지 않은) 부분

In [76]:
# 1월 23일, 1월 24일, 1월 25일 데이터 필터링
selected_dates = ['2023-01-23', '2023-01-24', '2023-01-25']
filtered_df = df_sentiment[df_sentiment['DATE'].isin(selected_dates)]

# 1월 23일, 1월 24일 데이터 삭제
df_sentiment = df_sentiment[df_sentiment['DATE'] != '2023-01-23']
df_sentiment = df_sentiment[df_sentiment['DATE'] != '2023-01-24']

# 1월 25일 데이터를 평균값으로 대체
average_values = filtered_df.mean(numeric_only = True)
df_sentiment.loc[df_sentiment['DATE'] == '2023-01-25', 'SENTIMENT_SUM'] = average_values.values

In [77]:
# 작업할 날짜 쌍 정의
date_pairs = [('2023-03-01', '2023-03-02'), ('2023-05-01', '2023-05-02'), ('2023-05-05', '2023-05-08'), ('2023-05-29', '2023-05-30'), ('2023-06-06', '2023-06-07')]

# 날짜 쌍에 대한 반복 작업
for start_date, end_date in date_pairs:
    # 선택한 날짜 데이터 필터링
    selected_dates = [start_date, end_date]
    filtered_df = df_sentiment[df_sentiment['DATE'].isin(selected_dates)]

    # 시작 날짜 데이터 삭제
    df_sentiment = df_sentiment[df_sentiment['DATE'] != start_date]

    # 끝 날짜 데이터를 평균값으로 대체
    average_values = filtered_df.mean(numeric_only = True)
    df_sentiment.loc[df_sentiment['DATE'] == end_date, 'SENTIMENT_SUM'] = average_values.values

In [78]:
# 결측치를 제외하고 차이 없는지 확인

set_sentiment_dates = set(df_sentiment['DATE'])
set_stock_dates = set(df_stock['DATE'])

# 차이를 확인하여 다른 원소를 추출
difference = set_sentiment_dates.symmetric_difference(set_stock_dates)

# 결과 출력
print("df_sentiment와 df_stock의 'DATE' 열에서 다른 원소:")
print(difference)

df_sentiment와 df_stock의 'DATE' 열에서 다른 원소:
{Timestamp('2023-06-28 00:00:00'), Timestamp('2023-06-27 00:00:00'), Timestamp('2023-06-30 00:00:00'), Timestamp('2023-06-29 00:00:00')}

# DATE 기준으로 데이터프레임 병합

In [79]:
print(df_stock['DATE'].nunique())
print(df_trend['DATE'].nunique())
print(df_sentiment['DATE'].nunique())
print(df_event['DATE'].nunique())

123
123
119
55

In [80]:
# 데이터프레임 병합
merged_df = df_stock.merge(df_trend, on='DATE', how='outer')
merged_df = merged_df.merge(df_sentiment, on='DATE', how='outer')
merged_df = merged_df.merge(df_event, on='DATE', how='outer')

# 날짜로 정렬
merged_df['DATE'] = pd.to_datetime(merged_df['DATE'])
merged_df = merged_df.sort_values(by='DATE')

In [81]:
merged_df

,DATE,Open,High,Low,Close,Volume,Change,MACD,Signal,PSAR,...,keyword,view_log_like_sum,view_log_like_avg,count,trend,DAY_x,SENTIMENT_SUM_x,DAY_y,SENTIMENT_SUM_y,DAY
0,2023-01-02,174500.0,176000.0,166500.0,169500.0,183432.0,-0.023055,8471.944717,8743.872989,178985.200000,...,50.67710,1.999836e+08,1.954167e+08,2.5,21.833970,월,77.917123,월,NaN,NaN
1,2023-01-03,170000.0,182000.0,170000.0,176500.0,522683.0,0.041298,8550.253289,8705.149049,166500.000000,...,64.10628,2.347509e+09,1.173754e+09,2.0,25.483202,화,181.407140,화,NaN,NaN
2,2023-01-04,176500.0,177000.0,169000.0,171500.0,251334.0,-0.028329,8115.306976,8587.180634,166500.000000,...,58.39454,2.510606e+08,3.138258e+07,8.0,22.192699,수,381.612804,수,NaN,NaN
3,2023-01-05,172000.0,177000.0,171000.0,172000.0,173260.0,0.002915,7721.940982,8414.132704,166810.000000,...,56.27729,1.618707e+07,2.023384e+06,8.0,19.414286,목,558.004627,목,NaN,NaN
4,2023-01-06,170000.0,172000.0,160500.0,168000.0,509214.0,-0.023256,7006.660605,8132.638284,182000.000000,...,58.21855,0.000000e+00,0.000000e+00,0.0,4.064204,금,413.298417,금,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2023-06-26,299000.0,303500.0,296000.0,298000.0,125709.0,-0.009967,8956.755842,8427.366351,282326.701011,...,28.65975,1.216152e+08,1.311331e+07,4.0,14.639181,월,69.124696,월,-24.987417,월
119,2023-06-27,298500.0,298500.0,285500.0,292000.0,289388.0,-0.020134,8038.431782,8349.579437,284740.564931,...,29.96373,5.750029e+07,1.437507e+07,4.0,20.525388,화,NaN,NaN,NaN,NaN
120,2023-06-28,294500.0,294500.0,284000.0,285000.0,166864.0,-0.023973,6668.936501,8013.450850,312500.000000,...,31.50002,1.449860e+08,2.071228e+07,7.0,21.117770,수,NaN,NaN,NaN,NaN
121,2023-06-29,284000.0,291000.0,278000.0,279500.0,187764.0,-0.019298,5081.224397,7427.005559,311930.000000,...,29.66024,2.883621e+07,2.621474e+06,11.0,19.131744,목,NaN,NaN,NaN,NaN
122,2023-06-30,280500.0,284500.0,276000.0,281500.0,206049.0,0.007156,3938.928881,6729.390224,310572.800000,...,32.49894,1.663823e+07,2.773038e+06,6.0,19.089277,금,NaN,NaN,NaN,NaN

In [82]:
# 변수 이름 변경
merged_df = merged_df.rename(columns={'SENTIMENT_SUM_x': 'SENTIMENT', 'SENTIMENT_SUM_y': 'EVENT'})
merged_df = merged_df.drop(columns=['DAY', 'DAY_y'])

# DAY_x 열을 DAY로 변경
merged_df = merged_df.rename(columns={'DAY_x': 'DAY'})

# 결과 출력
merged_df

,DATE,Open,High,Low,Close,Volume,Change,MACD,Signal,PSAR,...,OBV,FI,keyword,view_log_like_sum,view_log_like_avg,count,trend,DAY,SENTIMENT,EVENT
0,2023-01-02,174500.0,176000.0,166500.0,169500.0,183432.0,-0.023055,8471.944717,8743.872989,178985.200000,...,2022238.0,-7.337280e+08,50.67710,1.999836e+08,1.954167e+08,2.5,21.833970,월,77.917123,NaN
1,2023-01-03,170000.0,182000.0,170000.0,176500.0,522683.0,0.041298,8550.253289,8705.149049,166500.000000,...,2544921.0,3.658781e+09,64.10628,2.347509e+09,1.173754e+09,2.0,25.483202,화,181.407140,NaN
2,2023-01-04,176500.0,177000.0,169000.0,171500.0,251334.0,-0.028329,8115.306976,8587.180634,166500.000000,...,2293587.0,-1.256670e+09,58.39454,2.510606e+08,3.138258e+07,8.0,22.192699,수,381.612804,NaN
3,2023-01-05,172000.0,177000.0,171000.0,172000.0,173260.0,0.002915,7721.940982,8414.132704,166810.000000,...,2466847.0,8.663000e+07,56.27729,1.618707e+07,2.023384e+06,8.0,19.414286,목,558.004627,NaN
4,2023-01-06,170000.0,172000.0,160500.0,168000.0,509214.0,-0.023256,7006.660605,8132.638284,182000.000000,...,1957633.0,-2.036856e+09,58.21855,0.000000e+00,0.000000e+00,0.0,4.064204,금,413.298417,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2023-06-26,299000.0,303500.0,296000.0,298000.0,125709.0,-0.009967,8956.755842,8427.366351,282326.701011,...,6578958.0,-3.771270e+08,28.65975,1.216152e+08,1.311331e+07,4.0,14.639181,월,69.124696,-24.987417
119,2023-06-27,298500.0,298500.0,285500.0,292000.0,289388.0,-0.020134,8038.431782,8349.579437,284740.564931,...,6289570.0,-1.736328e+09,29.96373,5.750029e+07,1.437507e+07,4.0,20.525388,화,NaN,NaN
120,2023-06-28,294500.0,294500.0,284000.0,285000.0,166864.0,-0.023973,6668.936501,8013.450850,312500.000000,...,6122706.0,-1.168048e+09,31.50002,1.449860e+08,2.071228e+07,7.0,21.117770,수,NaN,NaN
121,2023-06-29,284000.0,291000.0,278000.0,279500.0,187764.0,-0.019298,5081.224397,7427.005559,311930.000000,...,5934942.0,-1.032702e+09,29.66024,2.883621e+07,2.621474e+06,11.0,19.131744,목,NaN,NaN
122,2023-06-30,280500.0,284500.0,276000.0,281500.0,206049.0,0.007156,3938.928881,6729.390224,310572.800000,...,6140991.0,4.120980e+08,32.49894,1.663823e+07,2.773038e+06,6.0,19.089277,금,NaN,NaN

In [83]:
# 제거되지 않은 5월 5일의 데이터를 5월 8일 데이터와 병합
a = float(merged_df[merged_df['DATE'] == '2023-05-05']['EVENT'])
b = float(merged_df[merged_df['DATE'] == '2023-05-08']['EVENT'])
merged_df[merged_df['DATE'] == '2023-05-08']['EVENT'] = (a+b)/2

c = float(merged_df[merged_df['DATE'] == '2023-05-05']['SENTIMENT'])
d = float(merged_df[merged_df['DATE'] == '2023-05-08']['SENTIMENT'])
merged_df[merged_df['DATE'] == '2023-05-08']['SENTIMENT'] = (c+d)/2

merged_df = merged_df[merged_df['DATE'] != '2023-05-05']

/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23334/443569746.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[merged_df['DATE'] == '2023-05-08']['EVENT'] = (a+b)/2
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23334/443569746.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[merged_df['DATE'] == '2023-05-08']['SENTIMENT'] = (c+d)/2

# CSV 파일로 저장

In [84]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123 entries, 0 to 122
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DATE               123 non-null    datetime64[ns]
 1   Open               123 non-null    float64
 2   High               123 non-null    float64
 3   Low                123 non-null    float64
 4   Close              123 non-null    float64
 5   Volume             123 non-null    float64
 6   Change             123 non-null    float64
 7   MACD               123 non-null    float64
 8   Signal             123 non-null    float64
 9   PSAR               123 non-null    float64
 10  upper              123 non-null    float64
 11  middle             123 non-null    float64
 12  lower              123 non-null    float64
 13  SlowK              123 non-null    float64
 14  SlowD              123 non-null    float64
 15  ROC                123 non-null    float64
 16  OBV                123 non-null    float64
 17  FI                 123 non-null    float64
 18  keyword            123 non-null    float64
 19  view_log_like_sum  123 non-null    float64
 20  view_log_like_avg  123 non-null    float64
 21  count              123 non-null    float64
 22  trend              123 non-null    float64
 23  DAY                123 non-null    object
 24  SENTIMENT          119 non-null    float64
 25  EVENT              54 non-null     float64
dtypes: datetime64[ns](1), float64(24), object(1)
memory usage: 25.9+ KB

In [85]:
merged_df.to_csv("../../data/FINALDATA/hybe.csv", index=False)